<f:layout name="Backend/Grid/Default" />

<f:section name="table">
    <colgroup>
        <f:for each="{columns}" as="column">
            <col style="width:{column.relativeWidth}%">
        </f:for>
    </colgroup>
    <tbody>
        <tr>
            <f:for each="{columns}" as="column">
            <td valign="top" class="t3-grid-cell t3-page-column">
                <div class="t3-page-column-header">
                    <div class="t3-page-column-header-label">{column.title}</div>
                </div>
                <div class="t3-page-ce-wrapper sortable">
                    {column.content->f:format.raw()}
                </div>
            </td>
            </f:for>
        </tr>
    </tbody>
</f:section>
